<div class="container">
  <footer class="footer">
    <div class="container">
      <small>Copyright &copy; Katie Atwell woo</small>
      <nav>
        <ul>
          <li>
            <%= link_to "about", about_path %>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
